/* IMPORT */
@font-face {
    font-family: "Poetsen One";
    src: url('./fonts/PoetsenOne-Regular.ttf');
}

@font-face {
    font-family: "Salsa";
    src: url('./fonts/Salsa-Regular.ttf');
}



/* GENERAL STYLES */
* {
    /* user-drag: none; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    height: 100vh;
}

button {
    all: unset;
}

h1,h2,h3 {
    font-family: "Poetsen One";
    font-weight: 400;
    color: white;
}

p,button {
    font-family: "Salsa";
    font-weight: 100;
    color: white;
    line-height: 16px;
}

.pointer {
    cursor: pointer;
}



/* STATISTICS SECITON */
#statistics-section {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.212) 0%, rgba(255, 255, 255, 0) 100%), #651123;
    overflow-y: auto;
    direction: rtl;
    padding: 20px 0 5px 20px;
}

#statistics-div {
    direction: ltr;
}

.statistics-banner {
    position: relative;
    width: 300px;
    margin: 0px 0px 0px 0px;
    right: 20px;
}

#delete-save {
    position: relative;
    right: 12px;
    margin: 10px 0px 0px 0px;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.295);
    transition: transform 0.1s ease;
}

#delete-save:hover {
    background-color: #1d1818;
}

/* FOR TEST PURPOSES ONLY */
#testing-features {
    margin: 80px 0px 80px 0px;
}



/* COOKIE SECTION */
#cookie-section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(125, 164, 199);
    background-size: cover;
    background-position: center;
    background-image: url("./images/background.png");
}

#cookie-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#cookie-div > p,
#cookie-div > h1 {
    color: black;
    text-shadow:
    1px 1px 4px rgb(255, 255, 255),
    -1px 1px 4px rgb(255, 255, 255),
    -1px -1px 4px rgb(255, 255, 255),
    1px -1px 4px rgb(255, 255, 255);
}

#cookie-count {
    font-size: 40px;
    line-height: 40px;
}


#cookie-box {
    position: relative;
}

#cookie-button {
    z-index: 2;
    position: absolute;
    left: 15%;
    top: 10%;
    width: 300px;
    height: 300px;
    background-image: url("./images/cookie.png");
    background-size: 300px 300px;
    transition: transform 0.1s ease;
}

#cookie-button:hover {
    transform: scale(1.1);
}

#cookie-button:active {
    transform: scale(1.2);
}

#sunburst {
    z-index: 1;
    position: relative;
    width: 400px;
    height: 400px;
    background-size: 400px 400px;
    animation: rotation 20s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#banner {
    width: 400px;
}

/* BORDER IMAGES */
.border {
    height: 100vh;
}

#stats-border {
    left: 0px;
}

#upgrades-border {
    right: 0px;
}



/* UPGRADE SHOP SECTION */
#upgrade-shop-section {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.212) 0%, rgba(255, 255, 255, 0) 100%), #651123;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: right;
    padding: 20px 5px 0px 20px;
}

.upgrade-box {
    display: block;
    padding: 1px 30px 1px 30px;
    margin: 10px;
    background-color: rgba(126, 99, 99, 0.295);
    border-radius: 5px;;
    transition: ease 0.15s;
}

.upgrade-box:hover {
    background-color: #1d1818;
}


#upgrade-1,#upgrade-3,#upgrade-5,#upgrade-7,#upgrade-9 {
    background-color: rgba(0, 0, 0, 0.295);
}

#upgrade-1:hover,
#upgrade-3:hover,
#upgrade-5:hover,
#upgrade-7:hover,
#upgrade-9:hover{
    background-color: #1d1818;
}

.upgrades-banner {
    position: relative;
    width: 300px;
    right: 20px;
}

.upgrade-box > p,
.upgrade-box > h2 {
    line-height: 5px;
}